* {
    margin: 0;
    padding: 0;
    color: #fff;
}

.back {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: calc(10px + 2vmin);
}

.earth {
    text-align: center;
    background: #000;
    color: aliceblue;
    width: 500px;
    height: auto;
    border: 2px solid gray;
    border-radius: 2%;
    padding: 10px;
}

.earth .logo-container {
    width: 250px;
    height: 250px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.earth .logo {
    width: 500px;
    height: auto;
}

.logo-container,
p,
.earth {
    margin: 5px auto;
}

@media (prefers-reduced-motion: no-preference) {
    .logo {
        animation: App-logo-spin infinite 40s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
